.card {
  position: relative;
  background: rgb(34, 0, 56);
  margin-top: 1em;
  padding: 1em;
  border-radius: 0px;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  pointer-events: all;
}
.card .card-content{
  height: 100%;
  pointer-events:none;
}

.card .card-heading {
  font-size: 1.2em;
}
.card .card-image { 
  height: auto;
  width: 100%;
  border: 0;
}

@media screen and (min-width: 40em) {
  .card {
    flex-grow: 0;
    flex-shrink: 1;
    width: calc(50% - 1em);
    border-radius: 5px;
  }
}

@media screen and (min-width: 60em) {
  .card {
    flex-grow: 0;
    flex-shrink: 1;
    width: calc(25% - 1em);
    transition: width 0.2s;
    border-radius: 5px;
  }
}